@import "../../global.scss";

.intro {
  background-color: #e5e5e5;
  display: flex;

  @include responsive(large){
    height: inherit;
  }
  @include responsive(small) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex: 1.3;
    flex-direction: column;
    padding: 60px 80px;
    height: inherit;
    overflow: hidden;
    z-index: 2;
    background-color: #e5e5e5;

    @include responsive(small) {
      padding: 50px 25px;
      width: 100%;
      height: 100%;
      background-color: #e5e5e5;
    }

    .top {
      font-size: 20px;
      color: #f29947;
      font-weight: 400;

      @include responsive(small) {
        height: inherit;
        font-size: 15px;
      }
    }

    .upperMid {
      position: relative;
      top: 30px;
      font-size: 45px;
      font-weight: 600;
      line-height: 1.2;
      color: #371841;
      overflow: hidden;

      @include responsive(small) {
        position: absolute;
        top: 80px;
        font-size: 30px;
        padding-right: 5px;
      }

      > span {
        color: #18a489;
      }
    }

    .mid {
      position: relative;
      top: 60px;
      font-size: 18px;
      font-weight: 500;
      color: #18a489;
      animation: blink 2s infinite;

      @include responsive(small) {
        font-size: 13px;
        position: absolute;
        margin-top: 150px;
      }
    }
    @keyframes blink {
      100%{
        opacity: 0;
      }
      50%{
        opacity: 2;
      }
    }

    .list {
      position: relative;
      top: 70px;

      @include responsive(small) {
        position: absolute;
        margin-top: 160px;
        overflow: visible;
      }
      .label {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 400;
        color: #371841;

        @include responsive(small) {
          font-size: 10px;
        }
      }

      .email {
        margin-top: 10px;
        border: 2px solid rgba(24, 164, 137, 0.2);
        border-radius: 40px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 3px;
        background-color: #fff;
        ::placeholder {
          color: #404040;
        }

        @include responsive(small) {
          padding-left: 20px;
        }

        > input {
          border: none;
          width: 70%;
          background-color: transparent;
          font-size: 14px;

          @include responsive(small) {
            font-size: 10px;
          }
        }
        > input:focus {
          outline: none;
        }

        .join {
          width: 109px;
          height: 40px;
          border: none;
          border-radius: 40px;
          background-color: #042e45;
          color: #18a489;
          transition: all 1s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .right {
    flex: 1.5;

    @include responsive(small){
      overflow: hidden;
    }
    > img {
      height: 450px;
      position: absolute;
      bottom: 0;
      
      @include responsive(large){
        margin-top: 160px;
      }
      @include responsive(small) {
        height: 250px;
        bottom: 0;
        left: 140px;
      }
    }
  }
}
