@import "../../global.scss";

.intro {
  background-color: #e5e5e5;
  display: flex;
  height: auto !important;
  padding-bottom: 40px;

  @include responsive(large) {
    height: inherit;
  }
  @include responsive(sm) {
    flex-direction: column;
  }
  @include responsive(lg) {
    flex-direction: column;
  }

  .success {
    display: none;
  }
  &.active {
    .success {
      display: block;
      position: fixed;
      top: 200px;
      z-index: 3;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .left,
    .right {
      opacity: 0.2;
    }
  }

  .left {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    padding: 60px 80px;
    height: inherit;
    overflow: hidden;
    z-index: 2;
    background-color: #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px;

    @include responsive(sm) {
      padding: 50px 25px;
      width: 100%;
      flex: none;
      height: 50vh;
      background-color: #e5e5e5;
      position: relative;
    }

    .top {
      font-size: 20px;
      color: #f29947;
      font-weight: 400;

      @include responsive(sm) {
        height: inherit;
        font-size: 15px;
      }
    }

    .upperMid {
      position: relative;
      top: 15px;
      font-size: 45px;
      font-weight: 600;
      line-height: 1.2;
      color: #371841;
      overflow: hidden;

      @include responsive(sm) {
        position: absolute;
        top: 80px;
        font-size: 30px;
        padding-right: 5px;
      }

      > span {
        color: #18a489;
      }
    }

    .mid {
      position: relative;
      top: 45px;
      font-size: 18px;
      font-weight: 500;
      color: #042e45;

      @include responsive(sm) {
        font-size: 13px;
        position: absolute;
        margin-top: 150px;
      }
    }

    .list {
      position: relative;
      top: 55px;

      @include responsive(sm) {
        position: absolute;
        margin-top: 160px;
        overflow: visible;
      }
      .label {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 400;
        color: #371841;

        @include responsive(sm) {
          font-size: 10px;
        }
      }

      .email {
        margin-top: 10px;
        border: 2px solid rgba(24, 164, 137, 0.2);
        border-radius: 40px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 3px;
        background-color: #fff;
        ::placeholder {
          color: #404040;
        }

        @include responsive(sm) {
          padding-left: 20px;
        }

        > input {
          border: none;
          width: 70%;
          background-color: transparent;
          font-size: 14px;

          @include responsive(small) {
            font-size: 10px;
          }
        }
        > input:focus {
          outline: none;
        }

        .join {
          width: 109px;
          height: 40px;
          border: none;
          border-radius: 40px;
          background-color: #042e45;
          color: #18a489;
          transition: all 1s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .right {
    flex: 0.7;
    display: flex;
    height: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @include responsive(sm) {
      overflow: hidden;
      flex: none;
      height: 60vh;
      // position: relative;
      margin-top: 0;
    }

    img {
      width: auto;
      height: auto;
      @include responsive(sm) {
        height: auto;
        width: auto;
      }
    }
  }
}
