@import "../../global.scss";

.business {
  background-color: #e5e5e5;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    // text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding: 50px 80px;

    @include responsive(small) {
      flex-direction: column;
      padding: 20px 30px;
      height: 150px;
    }

    .title {
      font-size: 40px;
      font-weight: 600;
      display: flex;
      color: #36e29a;
      width: 18%;

      @include responsive(desk) {
        width: 30%;
      }
      @include responsive(large) {
        width: 150%;
      }
      @include responsive(small) {
        font-size: 25px;
        line-height: 1;
        width: 20%;
        height: 30px;
        margin-bottom: 10px;
      }

      @include responsive(sm) {
        width: 50%;
      }

      > span {
        color: #371841;
        margin-left: 10px;
      }
    }

    .container {
      height: 55px;
      width: 25%;
      padding: 3px;
      border-radius: 40px;
      border: 2px solid rgba(24, 164, 137, 0.2);
      margin-left: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      overflow: hidden;

      @include responsive(large) {
        width: 100%;
        height: 50px;
        margin-left: 0;
        margin-right: 200px;
      }

      @include responsive(lg) {
        width: 200%;
        margin-right: 0;
      }

      @include responsive(sm) {
        justify-content: center;
        margin-left: -10%;
        width: 80%;
        height: 55px;
      }

      .individual {
        padding: 9px 5px;
        width: 50%;
        border-radius: 40px;
        border: none;
        background-color: #36e29a;
        color: #fff;
        transition: all 1s ease;
        height: 100%;
      }
      .business {
        padding: 9px 5px;
        width: 50%;
        border-radius: 40px;
        border: none;
        background-color: #fff;
        color: #371841;
        transition: all 1s ease;
      }
    }
  }

  .individualSection {
    transition: all 0.5s ease;
    display: none;
    left: -3000px;
    // @include responsive(sm) {
    //   left: -1000px;
    // }
    // @include responsive(lg) {
    //   left: -1000px;
    // }
    // @include responsive(large) {
    //   left: -1300px;
    // }

    &.active {
      display: block;
      left: 0;
    }
    .mid {
      width: 100%;
      height: 400px;
      background-color: #36e29a;

      .background {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.637),
            rgba(0, 0, 0, 0.637)
          ),
          url("assets/Rectangle.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
        overflow: hidden;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 70px 0;

          .contentTitle {
            font-size: 30px;
            font-weight: 500;
            color: #36e29a;
            top: 50px;

            @include responsive(small) {
              font-size: 20px;
            }
          }

          .budget {
            margin-top: 30px;
            font-size: 25px;
            font-weight: 400;
            color: #fff;

            @include responsive(small) {
              font-size: 13px;
            }
          }

          .spend {
            margin-top: 30px;
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            text-align: center;
            line-height: 2;

            @include responsive(small) {
              width: 70%;
              font-size: 12px;
              font-weight: 200;
            }
          }

          .joim {
            margin-top: 25px;
            font-size: 18px;
            padding: 10px 43px;
            background-color: #36e29a;
            color: #371841;
            border-radius: 40px;
            border: none;
            transition: all 1s ease;
            text-decoration: none;
          }
        }
      }
    }

    .feature {
      display: flex;
      flex-direction: column;
      padding: 50px 80px;

      @include responsive(small) {
        padding: 30px 20px;
      }

      .featureTitle {
        font-size: 40px;
        font-weight: 500;
        color: #371841;
        text-align: center;

        @include responsive(small) {
          font-size: 20px;
          width: 100%;
        }
      }

      .firstCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }
        .firstImg {
          width: 100%;
          overflow: visible;

          @include responsive(lg) {
            width: 70%;
          }

          @include responsive(sm) {
            width: 100%;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }
            @include responsive(lg) {
              width: 300px;
              height: 300px;
            }

            @include responsive(small) {
              width: 250px;
              height: 250px;
            }
          }
        }

        .firstContent {
          width: 90%;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .tracking {
            width: 70%;
            font-size: 40px;
            font-weight: 500;
            color: #f29947;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 100%;
            }
          }

          .trackCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }
      }

      .secondCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }

        .secondContent {
          flex: 0.5;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .save {
            width: 50%;
            font-size: 40px;
            font-weight: 500;
            color: #f29947;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 100%;
            }
          }

          .saveCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }

        .secondImg {
          flex: 0.5;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: visible;

          @include responsive(lg) {
            width: 80%;
          }

          @include responsive(sm) {
            width: 80%;
            margin-top: 30px;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }

            @include responsive(lg) {
              width: 300px;
              height: 300px;
            }

            @include responsive(small) {
              height: 250px;
              width: 250px;
            }
          }
        }
      }

      .thirdCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }
        .thirdImg {
          width: 100%;
          overflow: visible;
          display: flex;
          align-items: center;
          justify-content: center;

          @include responsive(lg) {
            width: 80%;
          }

          @include responsive(small) {
            width: 100%;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }

            @include responsive(lg) {
              height: 300px;
              width: 300px;
            }

            @include responsive(small) {
              width: 250px;
              height: 250px;
            }
          }
        }

        .thirdContent {
          width: 100%;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .warren {
            width: 50%;
            font-size: 40px;
            font-weight: 500;
            color: #f29947;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 100%;
            }
          }

          .warrenCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .businessSection {
    transition: all 0.5s ease;
    display: none;
    // @include responsive(large) {
    //   margin-top: -271%;
    //   right: -1300px;
    // }
    // @include responsive(sm) {
    //   margin-top: -430% !important;
    //   right: -1000px;
    // }
    // @include responsive(lg) {
    //   margin-top: -437%;
    //   right: -1000px;
    // }

    &.active {
      display: block;
    }

    .mid {
      width: 100%;
      height: 400px;
      background-color: #36e29a;

      .background {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.637),
            rgba(0, 0, 0, 0.637)
          ),
          url("assets/Rectangle.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 400px;
        overflow: hidden;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 70px 0;

          .contentTitle {
            font-size: 30px;
            font-weight: 500;
            color: #f29947;
            top: 50px;

            @include responsive(small) {
              font-size: 20px;
              text-align: center;
              width: 80%;
              top: 0px;
            }
          }

          .grow {
            margin-top: 30px;
            font-size: 25px;
            font-weight: 400;
            color: #fff;

            @include responsive(lg) {
              width: 85%;
              text-align: center;
            }

            @include responsive(small) {
              font-size: 15px;
              width: 80%;
              margin-top: 15px;
              font-weight: 300;
              text-align: center;
            }
          }

          .expenses {
            margin-top: 30px;
            font-size: 16px;
            font-weight: 300;
            color: #fff;
            text-align: center;
            line-height: 2;

            @include responsive(lg) {
              width: 80%;
              font-weight: 200;
              text-align: center;
            }

            @include responsive(small) {
              width: 90%;
              font-size: 14px;
              font-weight: 200;
              margin-top: 18px;
              line-height: 1.5;
            }
          }

          .joim {
            margin-top: 25px;
            font-size: 18px;
            padding: 10px 43px;
            background-color: #f29947;
            color: white;
            border-radius: 40px;
            border: none;
            transition: all 1s ease;
            text-decoration: none;

            @include responsive(small) {
              margin-top: 20px;
            }
          }
        }
      }
    }

    .feature {
      display: flex;
      flex-direction: column;
      padding: 50px 80px;

      @include responsive(small) {
        padding: 30px 20px;
      }

      .featureTitle {
        font-size: 40px;
        font-weight: 500;
        color: #371841;
        text-align: center;

        @include responsive(small) {
          font-size: 20px;
          width: 100%;
        }
      }

      .firstCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }
        .firstImg {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: visible;

          @include responsive(lg) {
            width: 70%;
          }

          @include responsive(small) {
            width: 100%;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }
            @include responsive(lg) {
              width: 300px;
              height: 300px;
            }

            @include responsive(small) {
              width: 250px;
              height: 250px;
            }
          }
        }

        .firstContent {
          width: 90%;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .plan {
            width: 50%;
            font-size: 40px;
            font-weight: 500;
            color: #18a489;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 100%;
            }
            @include responsive(large) {
              width: 80%;
            }
          }

          .planCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }
      }

      .secondCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }

        .secondContent {
          width: 100%;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .manage {
            width: 70%;
            font-size: 40px;
            font-weight: 500;
            color: #18a489;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 150%;
            }
          }

          .manageCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }

        .secondImg {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: visible;

          @include responsive(lg) {
            width: 80%;
          }

          @include responsive(sm) {
            width: 100%;
            margin-top: 30px;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }

            @include responsive(lg) {
              height: 300px;
              width: 300px;
            }

            @include responsive(small) {
              height: 250px;
              width: 250px;
            }
          }
        }
      }

      .thirdCont {
        display: flex;
        padding: 100px 0;

        @include responsive(small) {
          padding: 30px 15px;
        }
        @include responsive(sm) {
          flex-direction: column;
        }
        @include responsive(lg) {
          flex-direction: column;
        }
        .thirdImg {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: visible;

          @include responsive(lg) {
            width: 80%;
          }

          @include responsive(small) {
            width: 100%;
            overflow: visible;
          }

          > img {
            width: 600px;
            height: 600px;

            @include responsive(large) {
              width: 400px;
              height: 400px;
            }
            @include responsive(lg) {
              width: 300px;
              height: 300px;
            }

            @include responsive(small) {
              width: 250px;
              height: 250px;
            }
          }
        }

        .thirdContent {
          width: 100%;
          padding-top: 50px;
          padding-right: 50px;
          padding-left: 50px;

          @include responsive(small) {
            padding: 0;
            width: 100%;
          }

          .track {
            width: 50%;
            font-size: 40px;
            font-weight: 500;
            color: #18a489;
            margin-top: 30px;

            @include responsive(small) {
              font-size: 20px;
              margin-top: 15px;
              font-weight: 400;
            }
            @include responsive(lg) {
              width: 100%;
            }
          }

          .trackCont {
            font-size: 20px;
            font-weight: 400;
            line-height: 2.5;
            margin-top: 30px;
            color: #371841;

            @include responsive(small) {
              line-height: 1.5;
              font-weight: 300;
              font-size: 15px;
              margin-top: 15px;
            }
          }
          a {
            font-size: 20px;
            color: #371841;
            @include responsive(sm) {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
