*{
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: normal;
}

body{
    /* font-family: Poppins; */
    /* font-family: Poppins; */
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
}
.btn-custom-light-green{
    background: #36E29A;
}
.btn-custom-green{
    background: #18A489;
    color: white;


    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 50px;
}

.btn-custom-orange{
    background: #F29947;
}

.bg-orange-img{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Rectangle 20.png");
    background-attachment: fixed;
}
.bg-green-img{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0.616)), url("../img/Rectangle 21.png");
    background-attachment: fixed;
}

.bg-aza-purple{
    background: #042E45;
    
}
.bg-aza-orange{
    background-color: #F29947;
}
.text-orange{
    color: #F29947;
}
.text-green{
    color:#18A489;
}
.text-light-green{
    color: #36E29A;
}

.text-purple{
    color: #371841;
}
.orange-circle-1{
    background: #F29947;
    /* height: 20px;
    width: 20px; */
    padding: 20px;
    padding-left:25px;
    padding-right: 25px;
    border-radius: 50%;
    text-align: center;
}

.green-circle-1{
    /* background: #18A489; */
    background: #36E29A;
    height: 46.8px;
    /* padding: 20px; */
    width: 46px;
    border-radius: 50%;
    text-align: center;
}

.feature{
    padding-top: 10px;
    overflow: hidden;
}

.main-bg{
    background: #FFFFFF;
}

footer{
    /* box-shadow: -20px -20px 20px 0px #18A4891A; */
}

.site-header{
    box-shadow: 20px 20px 20px 0px #18A4891A;

}

.waitlist-input{
    border: 2px solid rgb(24, 164, 137, 0.2);
}

.waitlist-submit{
    border: none;
    color: black;
}

.landing-text{
    /*    font-family: Poppins; */
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    /* line-height: 90px; */
}
.text-user-type{
    line-height: 30px;
}

.text{
    margin-top: 16%;
}

.second-nav{
    border-bottom: 1px solid #F29947;
}

.second-nav-link{
    border-bottom:1px solid gray;
    color: gray;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
.second-nav-link.active{
    border-bottom: 1px solid #F29947;
    color: #371841;
}

.text-header{
    font-size: 25px;
    line-height: 45px;
    /* identical to box height, or 180% */

    text-transform: uppercase;

}
.lead-text{
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    /* line-height: 90px; */
}
.simple-about{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 55px;
    /* or 229% */

    text-align: center;
}

.navbar-nav{
    flex-direction: row !important;
}

.uppercase{
    text-transform: uppercase;
}

.multiple-bg{
    background-image:  url('../img/Coin.png'), url('../img/Coin (1).png');
    background-position:   right bottom, left top;
    background-repeat: no-repeat, no-repeat;
    padding-top: 30px !important;
}
.multi-bg{
    
    background-image:  url('../img/Coin (1).png');
    background-position:  left;
    background-repeat: no-repeat, no-repeat;
    /* padding-top: 30px; */
  }

  .multi-bg2{
    background-image:  url('../img/Coin.png'), url('../img/Coin (1).png');
    background-position:   left top, right top;
    background-repeat: no-repeat, no-repeat;
  }
  

  .mul1{
    background-image:   url('../img/Coin (1).png'), url('../img/Coin (1).png');
    background-position:  left top, right;
    background-repeat: no-repeat, no-repeat;
  }

 .green-img-bg{
     background: url("../img/Rectangle 20.png");
     background-size: cover;
 }


 .coins-bg{
    background: url("../img/Group 20.png");
    background-size: cover;
 }

 @media screen and (max-width:800px) {
    .coins-bg{
        background: none !important;
    }

    .green-img-bg{
        background: none !important;
    }
}
 .border-0{
     border-radius: 0 !important;
 }

 /* dividers */
 .purple-divider{
     height: 4px;

 }

 .vector{
    background: url("../img/Vector.png"); 
    background-repeat: no-repeat;
 }