.app {
  height: 100vh;

  .section {
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
    top: 90px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      // scroll-snap-align: start;

      .intro {
        width: 100vw;
        height: calc(100vh - 90px);
      }
      .abt {
        width: 100vw;
        height: calc(50vh - 90px);
      }
      .bus {
        width: 100vw;
      }
      .bot {
        width: 100vw;
        height: calc(40vh - 90px);
      }
    }
  }

  .aboutUs{
    width: 100%;
    height: calc(100vh);
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
